{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<section class="about">
    <div class="about-content">
        <img src="{{ url_for('static', filename='images/headshot.JPEG') }}" alt="John's Headshot">
        <div>
            <h2>About Me</h2>
            <p>I am studying Informatics with a cognate in Business with a minor in Human Computer Interaction (HCI) at Indiana University. Throughout my education at Indiana University, I have developed skills in coding languages such as Python and HTML, as well as experience in UX/UI design. Through numerous group projects and previous leadership experience, including recruitment chair of my fraternity, I have further developed my skills in communication and creativity. I started my career in landscape design and then eventually moved into UX/UI design, focusing on human-centered designs.</p>
        </div>
    </div>
</section>
<section class="projects">
    <h2>My Projects</h2>
    <div class="project-grid">
        <div class="project-card">
            <img src="{{ url_for('static', filename='images/landscapecad.jpg') }}" alt="Landscape Design">
            <h3>Landscape Design</h3>
            <a href="/landscape">View Project</a>
        </div>
        <div class="project-card">
            <img src="{{ url_for('static', filename='images/medassist screen 1.jpg') }}" alt="MedAssist Project">
            <h3>MedAssist Project</h3>
            <a href="/medassist">View Project</a>
        </div>
        <div class="project-card">
            <img src="{{ url_for('static', filename='images/aoequipment.png') }}" alt="Adventure Outfitters">
            <h3>Adventure Outfitters</h3>
            <a href="/adventure">View Project</a>
        </div>
        <div class="project-card">
            <img src="{{ url_for('static', filename='images/katescrew.JPG') }}" alt="Graphic Design">
            <h3>Graphic Design</h3>
            <a href="/graphic_design">View Project</a>
        </div>
    </div>
</section>
{% endblock %}

