{% extends 'base.html' %}
{% block title %}Adventure Outfitters{% endblock %}
{% block content %}
<section class="project-detail">
    <h2>Adventure Outfitters</h2>
    <p>Developed a responsive and interactive web application for outdoor adventure enthusiasts.</p>
    <div class="project-images">
        <img src="{{ url_for('static', filename='images/aoequipment.png') }}" alt="Adventure Equipment">
        <img src="{{ url_for('static', filename='images/aohomescreen.png') }}" alt="Adventure Home Screen">
        <img src="{{ url_for('static', filename='images/aopeople.png') }}" alt="Adventure People">
    </div>
</section>
{% endblock %}

